@CHARSET "UTF-8";

body{
	font-family:  "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.container-fluid{
	background-color: white;
	border-color: transparent;
	border-style: none;
}

.image-container{
	background-color: #f7c59f;
	border-radius: 15%;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #f7ed6a;
}

nav.navbar.navbar-inverse {
  border-color: transparent;
 }

.navbar-inverse .navbar-nav>li>a{
	color: black;
}
.navbar-inverse:hover .navbar-nav>li>a:hover{
	color: #ff8a5b;
}

.navbar-inverse .navbar-brand {
	color:#f7c59f;
	
}

.navbar-brand:hover {
	color: #ff8a5b;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #f7c59f;
}

/*
li{
	background-color:#f7c59f;
	color: 	#f7c59f;
}


.btn-default{
	background-color:#f7ed6a;
}
*/

.btn-default:hover{
	background-color:#f7c59f;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #f7c59f;
}

a{
	color: white;
}

img{
	padding: 10px;
	margin-left: 15px;
	margin-top: 10px;
	height: 150px;
	width: 150px;
	border-radius: 15%;
	
}

.dropdown > .btn {
	background-color: #f7ed6a;
	height: 20px;
	width: 20px;
	font-size: 10px;
	border-color: #f7ed6a;
}

.dropdown > .btn{
	background-color: #f7ed6a;
	height: 20px;
	width: 20px;
	font-size: 10px;
	border-color: #f7ed6a;
}

.dropdown > .btn:active{
	background-color: white;
	color: white;
}


.dropdown-menu > li{
	background-color: white;
	color: white;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover 
.dropdown-menu > li{
	background-color: #ff8a5b;
	border-color: #ff8a5b;
	color: white;
}

.row{
	background-color: #e4fde1;
	height: 250px;
}

#recipedia-logo {
	height: 40px;
	width: 90px;
	margin-left: -5%;
	margin-top: 10%;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#main-div {
	vertical-align:top;
}
#search-div {
	vertical-align:top;
	margin-top: 4%;
}

#h2 {
	font-size: 24px;
}
